@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>
<br />

<p>
    Gabriel Kessler - 18 anos
    <br />
    <br />
    📧 Email: gabrielkessler2008@email.com
    <br />
    📞 Telefone: (51) 99659-3146
    <br />
    📍 Endereço: Rua Martin Francisco, 1334, Vera Cruz - RS
    <br />
    <br />
    Perfil Profissional
    <br />
    <br />
Sou um desenvolvedor de software especializado em aplicações web e mobile, com proficiência em linguagens como Python, C# e JavaScript. Destaco-me por minha capacidade de resolver problemas, colaborar em equipe e manter uma abordagem organizada. Estou comprometido com a evolução constante em tecnologias atuais e motivado a participar de projetos criativos e desafiadores.
    <br />
    <br />
    Formação Acadêmica
    <br />
    <br />
    Curso Técnico em Informática – Escola Senac de Santa Cruz (2024)
    <br />
    Ensino Médio – Escola Estadual Ensino Médio Vera Cruz
</p>
